fastapi ==  0.115.2
uvicorn == 0.32.0
python-multipart == 0.0.12 
psycopg2-binary == 2.9.10
PyMuPDF == 1.24.11 
spaCy == 3.8.2 
mysql-connector-python = 9.1.0 

openai==0.28
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
python-dotenv == 1.0.1
requests == 2.32.3
transformers==4.30.0
torch==2.0.0

# Después de instalar las dependencias, ejecuta:
#python -m spacy download en_core_web_lg